<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!--<!DOCTYPE HTML>-->
<!--<html>-->
<!--<head>-->
<!--<title>Election a Society and People Category Flat Bootstrap Responsive Website Template | Contact :: w3layouts</title>-->
<!--&lt;!&ndash; for-mobile-apps &ndash;&gt;-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<meta name="keywords" content="Election Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, -->
<!--Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />-->
<!--<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);-->
<!--function hideURLbar(){ window.scrollTo(0,1); } </script>-->
<!--&lt;!&ndash; //for-mobile-apps &ndash;&gt;-->
<!--<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />-->
<!--<link href='//fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>-->
<!--<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>-->
<!--<link rel="stylesheet" type="text/css" href="css/style.css">-->
<!--&lt;!&ndash;-strat-slider&#45;&#45;&ndash;&gt;-->
<!--<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>-->
<!--&lt;!&ndash;-//-slider&#45;&#45;&ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<!-- header -->
	<!--<div class="header_bg">-->
		<!--<div class="container">-->
			<!--&lt;!&ndash;-&#45;&#45;start-header-&#45;&#45;&ndash;&gt;-->
			<!--<div class="header">-->
				<!--<div class="logo">-->
					<!--<a href="index.html"><img src="images/logo1.png" alt=" " /></a>-->
				<!--</div>-->
				<!--<nav class="navbar navbar-default">-->
					<!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
					<!--<div class="navbar-header">-->
					  <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
						<!--<span class="sr-only">Toggle navigation</span>-->
						<!--<span class="icon-bar"></span>-->
						<!--<span class="icon-bar"></span>-->
						<!--<span class="icon-bar"></span>-->
					  <!--</button>-->
					<!--</div>-->

					<!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
					<!--<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">-->
						<!--<ul class="nav navbar-nav">-->
							<!--<li><a href="index.html">Home</a></li>-->
							<!--<li class="dropdown">-->
								<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Elections<b class="caret"></b></a>-->
								<!--<ul class="dropdown-menu multi-column columns-3">-->
									<!--<div class="row">-->
										<!--<div class="party">-->
											<!--<ul class="multi-column-dropdown">-->
												<!--<li><a href="about.html">Current Elections</a></li>-->
												<!--<li class="divider"></li>-->
												<!--<li><a href="about.html">Past Elections</a></li>-->
												<!--<li class="divider"></li>-->
												<!--<li><a href="about.html">Future Elections</a></li>-->
											<!--</ul>-->
										<!--</div>-->
									<!--</div>-->
								<!--</ul>-->
							<!--</li>-->
							<!--<li><a href="results.html">Results</a></li>-->
							<!--<li><a href="about.html">About</a></li>-->
							<!--<li><a href="codes.html">Campaigns</a></li>-->
							<!--<li class="act"><a href="contact.html">Contact Us</a></li>-->
						<!--</ul>-->
					<!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;	-->
					<!---->
				<!--</nav>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
	<!--<div class="header_bottom">-->
	<!--</div>-->
<!-- //end-header -->
<!-- banner1 -->
	<div class="banner1" style="width: 1423px; margin-left: -142px;">
		<div class="container">
			<div class="banner1-info">
				<h3>It has survived not only five centuries, but also the leap 
					into electronic typesetting, remaining essentially unchanged. It was 
					popularised in the 1960s.</h3>
			</div>
		</div>
	</div>
<!-- //banner1 -->
<!-- contact -->
{{contactDetail}}
	<div class="contact">
		<div class="container">
			<h3>Contact Us</h3>
			<p class="nihil">Vote For Real Government.</p>
			<div class="contact-grid">
				<div class="col-md-5 contact-left">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3056.9443837127305!2d-75.7983021!3d39.9873482!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x69c9c879a1263188!2sLutheran+Church+of+the+Good+Shepherd!5e0!3m2!1sen!2sin!4v1426659332982" frameborder="0" style="border:0"></iframe>
				</div>
				<div class="col-md-7 contact-right">
					<form>
						<input type="text" placeholder="Name" required=" " ng-model="contactDetails.Name">
						<input type="text" placeholder="Email Address" required=" "ng-model="contactDetails.EmailAddress">
						<input type="text" placeholder="Phone Number" required=" "ng-model="contactDetails.PhoneNumber">
						<input type="text" placeholder="Subject" required=" "ng-model="contactDetails.Subject">
						<div class="clearfix"> </div>
						<textarea placeholder="Type Your Address Here...." required=" "ng-model="contactDetails.OfficeAddress"></textarea>
						<input type="submit" value="Submit" ng-click="saveContactDetails()">
						<input type="reset" value="Clear">
					</form>
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<div class="card" style="width: 60rem;margin-left:130px;margin-top:-40px;">
	<div class="card-header">
	</div>
	<ul class="list-group list-group-flush">

		<li class="list-group-item" style="background-color:deepskyblue;"> <span style="color:black;">Name:</span>{{contactDetail.Name}}</li>
		<li class="list-group-item" style="background-color:gold;"><span style="color:darkblue">EmailAddress:</span>{{contactDetail.EmailAddress}}</li>
		<li class="list-group-item"style="background-color:deepskyblue;"><span style="color:darkblue">PhoneNumber:</span>{{contactDetail.PhoneNumber}}</li>
		<li class="list-group-item" style="background-color:gold;"><span style="color:darkblue">Subject:</span>{{contactDetail.Subject}}</li>
		<li class="list-group-item"style="background-color:deepskyblue;"><span style="color:darkblue">OfficeAddress:</span>{{contactDetail.OfficeAddress}}</li>
	</ul>
</div>
<div style="margin-left:960px;">
	<button type="button" class="btn btn-danger" ng-click="deleteContactDetails()" >
		<span class="glyphicon glyphicon-trash"></span>delete
	</button>
</div>

	<div class="contact-bottom">
		<div class="container">
			<div class="contact-bottom-grids">
				<p>But I must explain to you how all this mistaken idea of denouncing 
					pleasure and praising pain was born and I will give you a complete 
					account of the system, and expound the actual teachings of the great 
					explorer of the truth, the master-builder of human happiness. 
					No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, 
					but because those who do not know how to pursue pleasure rationally 
					encounter consequences that are extremely painful.</p>
				<div class="col-md-4 contact-bottom-grid">
					<div class="dot">
						<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
					</div>
					<h4>JI.Paulnadwam 2nd D.No:23-50-903.<span>United States</span></h4>
				</div>
				<div class="col-md-4 contact-bottom-grid">
					<div class="dot">
						<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
					</div>
					<a href="mailto:info@example.com">info@example.com</a>
				</div>
				<div class="col-md-4 contact-bottom-grid">
					<div class="dot">
						<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
					</div>
					<h4>+020 456 9696</h4>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>


<div class="card" style="width: 57rem;margin-left:350px;margin-top:-210px;">
	<div class="card-header">
	</div>
	<ul class="list-group list-group-flush">

		<li class="list-group-item" style="background-color:deepskyblue;"> <span style="color:black;">Name:</span>{{contactDetail.Name}}</li>
		<li class="list-group-item" style="background-color:gold;"><span style="color:darkblue">EmailAddress:</span>{{contactDetail.EmailAddress}}</li>
		<li class="list-group-item"style="background-color:deepskyblue;"><span style="color:darkblue">PhoneNumber:</span>{{contactDetail.PhoneNumber}}</li>
		<li class="list-group-item" style="background-color:gold;"><span style="color:darkblue">Subject:</span>{{contactDetail.Subject}}</li>
		<li class="list-group-item"style="background-color:deepskyblue;"><span style="color:darkblue">OfficeAddress:</span>{{contactDetail.OfficeAddress}}</li>
	</ul>
</div>

<!-- //contact -->
<!-- footer-top -->
	<div class="footer-top">
		<div class="container">
			<div class="footer-grids">
				<figure class="effect-winston">
					<img src="images/1.jpg" alt="" class="img-responsive one" />
					<figcaption> 
						<h2>Jolly <span>Winston</span></h2>
						<p>There are many variations of passages of Lorem Ipsum available.</p>
						<ul class="social_icons">
							<li><a href="#" class="f1"></a></li>
							<li><a href="#" class="f2"></a></li>
							<li><a href="#" class="f3"></a></li>
						</ul>
					</figcaption>			
				</figure>
				<figure class="effect-winston">
					<img src="images/3.jpg" alt="" class="img-responsive one" />
					<figcaption>
						<h2>Micheal <span>James</span></h2>
						<p>There are many variations of passages of Lorem Ipsum available.</p>
						<ul class="social_icons">
							<li><a href="#" class="f1"></a></li>
							<li><a href="#" class="f2"></a></li>
							<li><a href="#" class="f3"></a></li>
						</ul>
					</figcaption>			
				</figure>
				<figure class="effect-winston">
					<img src="images/5.jpg" alt="" class="img-responsive one" />
					<figcaption>
						<h2>Adom <span>Williums</span></h2>
						<p>There are many variations of passages of Lorem Ipsum available.</p>
						<ul class="social_icons">
							<li><a href="#" class="f1"></a></li>
							<li><a href="#" class="f2"></a></li>
							<li><a href="#" class="f3"></a></li>
						</ul>
					</figcaption>			
				</figure>
			</div>
		</div>
	</div>
<!-- //footer-top -->
<!-- footer -->
	<!--<div class="footer">-->
		<!--<div class="container">-->
			<!--<h3>Sign up for our newsletter</h3>-->
			<!--<p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus -->
				<!--tristique bibendum. Donec rutrum sed sem quis venenatis.</p>-->
			<!--<div class="footer-contact">-->
				<!--<form>-->
					<!--<input type="text" placeholder="Enter your email to update" required=" ">-->
					<!--<input type="submit" value="">-->
				<!--</form>-->
			<!--</div>-->
			<!--<div class="footer-grids">-->
				<!--<div class="col-md-3 footer-grid">-->
					<!--<p>HALOVIETNAM LTD-->
						<!--66, Dang Van ngu, Dong Da-->
						<!--Hanoi, Vietnam.-->
					<!--<a href="mailto:info@example.com">contact@example.com</a>-->
					<!--<p>Phone : +844 35149182</p>-->
				<!--</div>-->
				<!--<div class="col-md-2 footer-grid">-->
					<!--<ul>-->
						<!--<li><a href="contact.html">Contact</a></li>-->
						<!--<li><a href="about.html">About</a></li>-->
						<!--<li><a href="#">Privacy</a></li>-->
						<!--<li><a href="#">Terms</a></li>-->
					<!--</ul>-->
				<!--</div>-->
				<!--<div class="col-md-2 footer-grid">-->
					<!--<ul>-->
						<!--<li><a href="#">Download</a></li>-->
						<!--<li><a href="#">Support</a></li>-->
						<!--<li><a href="#">Documents</a></li>-->
					<!--</ul>-->
				<!--</div>-->
				<!--<div class="col-md-2 footer-grid">-->
					<!--<ul>-->
						<!--<li><a href="#">Venenatis</a></li>-->
						<!--<li><a href="#">Extras</a></li>-->
						<!--<li><a href="#">Forums</a></li>-->
					<!--</ul>-->
				<!--</div>-->
				<!--<div class="col-md-3 footer-grid">-->
					<!--<div class="footer-grid-left">-->
						<!--<a href="#"><img src="images/1.jpg" alt=" " class="img-responsve" /></a>-->
					<!--</div>-->
					<!--<div class="footer-grid-left">-->
						<!--<a href="#"><img src="images/2.jpg" alt=" " class="img-responsve" /></a>-->
					<!--</div>-->
					<!--<div class="footer-grid-left">-->
						<!--<a href="#"><img src="images/3.jpg" alt=" " class="img-responsve" /></a>-->
					<!--</div>-->
					<!--<div class="footer-grid-left">-->
						<!--<a href="#"><img src="images/4.jpg" alt=" " class="img-responsve" /></a>-->
					<!--</div>-->
					<!--<div class="footer-grid-left">-->
						<!--<a href="#"><img src="images/5.jpg" alt=" " class="img-responsve" /></a>-->
					<!--</div>-->
					<!--<div class="footer-grid-left">-->
						<!--<a href="#"><img src="images/p1.jpg" alt=" " class="img-responsve" /></a>-->
					<!--</div>-->
					<!--<div class="clearfix"> </div>-->
				<!--</div>-->
				<!--<div class="clearfix"> </div>-->
			<!--</div>-->
			<!--<div class="footer-copy">-->
				<!--<p>&copy 2015 Election. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts.</a></p>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--&lt;!&ndash; //footer &ndash;&gt;-->
		<!--&lt;!&ndash; scroll_top_btn &ndash;&gt;-->
		<!--<script type="text/javascript" src="js/move-top.js"></script>-->
		<!--<script type="text/javascript" src="js/easing.js"></script>-->
	    <!--<script type="text/javascript">-->
			<!--$(document).ready(function() {-->
			<!---->
				<!--var defaults = {-->
		  			<!--containerID: 'toTop', // fading element id-->
					<!--containerHoverID: 'toTopHover', // fading element hover id-->
					<!--scrollSpeed: 1200,-->
					<!--easingType: 'linear' -->
		 		<!--};-->
				<!---->
				<!---->
				<!--$().UItoTop({ easingType: 'easeOutQuart' });-->
				<!---->
			<!--});-->
		<!--</script>-->
		 <!--<a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>-->
		<!--&lt;!&ndash;end scroll_top_btn &ndash;&gt;-->
<!--&lt;!&ndash; for bootstrap working &ndash;&gt;-->
	 <!--<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>-->
<!--&lt;!&ndash; //for bootstrap working &ndash;&gt;-->
<!--</body>-->
<!--</html>-->